* {
    box-sizing: border-box;
}
  
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
.Details {
    background-color: #eee;
    padding-left: 0px;
}
  
.TootMeta {
    background-color: black;
    color: white;
}
  
.TootText {
    font-family: monospace;
    color:blueviolet;
}
  
.TootBody {
    font-family: monospace;
    padding-left: 30px; 
}
  
.Metadata {
    font-family: monospace;
}